<li class="sub">
  <ul class="sub-container">
    <li class="sub-info">
      <ul>
        <li class="image macbook">
          <div class="device">
            <div class="screen">
            </div>
            <img src="/assets/cloudy.svg" alt="macBook">
            <ul class="horizontal lime">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </li>
        <li class="text laptop">
          <h2>LAPTOPS</h2>
          <p>First and foremost... If you are on a Laptop or Desktop Computer, <strong class="lime">resize your window's width</strong> to your hearts content.  Responsive Websites are the way of the future!  Why would you want to maintain multiple sites when you can build one and let your CSS do all the work?  Trunk.js helps lighten the load and get you started by giving you a <strong class="lime">butter smooth</strong> Nav Drawer.</p>
        </li>
      </ul>
    </li>
    <li class="sub-info">
      <ul>
        <li class="image iPad">
          <div class="device">
            <div class="nav">
              <ul class="verticle">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="screen"></div>
            <img src="/assets/cloudy.svg" alt="iPad">
          </div>
        </li>
        <li class="text tablet">
          <h2>TABLETS</h2>
          <p>Trunk.js <strong class="plum">tucks your navigation into the "drawer"</strong> in portrait and displays it on top in landscape.  Almost all drawers that I've come across are built with jQuery animations.  The jittery or snapping results are due to this method.  I've built Trunk.js to trigger the event with jQuery but <strong class="plum">it moves with CSS</strong>.  This method makes the animation <strong class="plum">feel native and smooth</strong>.</p>
        </li>
      </ul>
    </li>
    <li class="sub-info">
      <ul>
        <li class="image mini">
          <div class="device">
            <div class="nav">
              <ul class="verticle">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="screen"></div>
            <img src="/assets/cloudy.svg" alt="iPadmini">
          </div>
        </li>
        <li class="text mini">
          <h2>MINI TABLETS</h2>
          <p>Mini Tablets are pretty similar to their big brothers (or sisters).  The iPad Mini actually has the same screen dimensions as the regular iPad to make it easier for developers to code for one device.  The Kindle Fires and even some of the Galaxy smartphones are so big that they straddle the fence.  <strong class="blue">Trunk.js is a valuable layout</strong> for all these mini monsters.</p>
        </li>
      </ul>
    </li>
    <li class="sub-info">
      <ul>
        <li class="image iPhone">
          <div class="device">
            <div class="nav">
              <ul class="verticle">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="screen"></div>
            <img src="/assets/cloudy.svg" alt="iPhone">
          </div>
        </li>
        <li class="text mobile">
          <h2>MOBILE</h2>
          <p>Trunk.js says "<strong class="yellow">No more clunky animations on your iPhone &amp; Android device</strong>". For too long, sites have been using the Navigation Drawer lazily. It's great to free up such <strong class="yellow">valuable screen real estate</strong>, but why must it ruin the UX? Can't we have both? Trunk.js responds with a resounding "YES". Open this on your mobile device &amp; see what a Nav Drawer really feels like.</p>
        </li>
      </ul>
    </li>
  </ul>
</li>