<div class="weather-container">
  <li class="sub">
    <ul class="sub-container">
      <li class="sub-info">
        <ul>
          <li class="weather-now">   
            <div class="left-panel panel">
                <div class="date">
                    Monday, 20 Aug 2018
                </div>
                <div class="city">
                    Mumbai
                </div>
                <div class="temp">
                  27&deg;
                  <img src="/assets/cloudy.svg" alt="" width="35">
                </div>
            </div>
          </li>
          <li class="text laptop">
            <h2>Nu</h2>
            <p>Hallo</p>
          </li>
        </ul>
      </li>
      <li class="sub-info">
        <ul>
          <li class="weather-today">
            <div class="left-panel panel">
                <div class="date">
                    Monday, 20 Aug 2018
                </div>
                <div class="city">
                    Mumbai
                </div>
                <div class="temp">
                  27&deg;
                  <img src="/assets/cloudy.svg" alt="" width="35">
                </div>
            </div>
          </li>
          <li class="text tablet">
            <h2>Vandaag</h2>
            <p>Hallo</p>          
          </li>
        </ul>
      </li>
      <li class="sub-info">
        <ul>
          <li class="weather-tomorrow">
            <div class="left-panel panel">
                <div class="date">
                    Monday, 20 Aug 2018
                </div>
                <div class="city">
                    Mumbai
                </div>
                <div class="temp">
                  27&deg;
                  <img src="/assets/cloudy.svg" alt="" width="35">
                </div>
            </div>
          </li>
          <li class="text mini">
            <h2>Morgen</h2>
            <p>Hallo</p>
          </li>
        </ul>
      </li>
      <li class="sub-info">
        <ul>
          <li class="weather-day-after">
            <div class="left-panel panel">
                <div class="date">
                    Monday, 20 Aug 2018
                </div>
                <div class="city">
                    Mumbai
                </div>
                <div class="temp">
                  27&deg;
                  <img src="/assets/cloudy.svg" alt="" width="35">
                </div>
            </div>
          </li>
          <li class="text mobile">
            <h2>Overmorgen</h2>
            <p>Hallo</p>
          </li>
        </ul>
      </li>
    </ul>
    <a href="https://www.buienradar.nl" target="_blank"><img class="live-weather-info" border="0" src="https://api.buienradar.nl/image/1.0/RadarMapNL?w=500&h=512"></a>
  </li>
</div>