.weather-container {
    max-width: 45rem;
    margin: 0 auto;
    display: flow-root;
}

.sub-container {
	padding-inline-start: -0px;
}

.date {
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

ul {
    padding-inline-start: 0px;
}
.day {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
}

.temp {
  font-size: 40px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
  padding-top: 20px;
}

.panel {
  display: inline-block;
}

.right-panel {
  position: absolute;
  float: right;
  padding-top: 35px;
  padding-left: 10px;
}

.sub {
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	clear: both;
}

.sub li.sub-info {
	position: relative;
	width: 24%;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	height: 100%;
	margin-bottom: 25px;
	margin-right: 1%;
	float: left;
}

.sub .live-weather-info {
	width: 100%;
	max-width: 14rem;
	max-height: 14rem;
	border-radius: 50%;
}

li.weather-now {
	background-color: #ccdd5d;
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}
li.weather-today {
	background-color: #c26c8b;
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}
li.weather-tomorrow {
	background-color: #88c4da;
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}
li.weather-day-after {
	background-color: #fedd6d;
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}
.sub .image {
	position: relative;
	padding-top: 1px;
	padding-bottom: 1px;
}
.sub  .image {
	padding-bottom: 75%;
}
.sub  .image img {width: 100%;}

.sub .text {
	background-color: #ffffff;
	padding: 10px;
	font-size: 16px;
	line-height: 23px;
}
.sub .text h2 {
	text-align: center;
	font: 22px OswaldBook;
	letter-spacing: 1px;
}
.sub .text p {color: #6b7b83;}

.sub .txt-weather-now h2 {color: #ccdd5d;}
.sub .txt-weather-today h2 {color: #c97c98;}
.sub .txt-weather-tomorrow h2 {color: #88c4da;}
.sub .txt-weather-day-after h2 {color: #fedd6d;}

@media only screen and (max-width: 1040px) {
	.sub .text {height: 200px;}
}

	@media only screen and (max-width: 900px) {
	.sub li.sub-info {
		width: 45.3%;
		margin-right: 3%;
	}
	.sub  .image {
		padding-bottom: 61%;
	}
}

@media only screen and (max-width: 640px) {

	.sub {
		padding-bottom: 0;
		padding-top: 0;
		width: 100%;
	}
	.sub li.sub-info {
		display: block;
		background-color: #fff;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		width: 100%;
		position: relative;
		left: 0;
		margin-left: 0;
		margin-bottom: 0;
		float: none;
		padding-top: 40px;
		border-bottom: 1px solid #ddd;
	}

	.sub li.sub-info ul {padding: 0 ;}
	.sub .text {height: auto;padding: 0 40px;}
	.sub .text h2 {
		font-size: 30px;
		font-weight: bold;
		line-height: 60px;
	}
	.sub .text p {
		font-size: 20px;
		line-height: 30px;
		display: grid;
		justify-content: center;
	}

	.sub .live-weather-info {
		max-width: 10rem;
		max-height: 10rem;
	}

	.sub  .weather-now,
	.sub  .weather-today,
	.sub  .weather-tomorrow,
	.sub  .weather-day-after 
	{    
		border-radius: 25px;
		border: 2px solid #ffffff;
		padding: 20px;
		margin: 20px;
	}
}

@media only screen and (max-width: 400px) { 
	.sub .text {height: auto;padding: 0 20px;}
}

li {
	list-style-type: none;
}

.section{
	text-align: center;
    margin-bottom: 20px;
	padding: 25px 25px;
	background-color: #ffffff;
}

.section h2 {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    color: rgba(0,0,0,0.7);
    font-family: Oswald;
}

.loader {
    display: grid;
    justify-content: center;
    padding-top: 10px;
}

.loader p {
    text-align: center;
    margin: 0;

    font-size: 21px;
    font-weight: normal;
    color: rgba(0,0,0,0.7);
    font-family: Oswald;
}