
<div class="wrapper">
    <div class="sub-header">
      <img src="assets/search.svg">
      <p>Find trending info at your location</p>
    </div>
    <div class="location-container">
      <div class="sub-header-footer">
        <form autocomplete="off" action="/action_page.php">
          <div class="autocomplete">
            <input id="myInput" type="text" name="myLocation" placeholder="Your location...">
          </div>
        </form>
      </div>
    </div>
  <ul class="auto-grid">
    <li (click)="routeTo('weather')" class="weather gridCol">
      <h1>Weather</h1>
      </li>
    <li (click)="routeTo('news')" class="news gridCol">
      <h1>News</h1>
      <p></p>
    </li>
    <li (click)="routeTo('events')" class="events gridCol">
      <h1>Events</h1>
      <p></p>
    </li>
    <li (click)="routeTo('movies')" class="movies gridCol">
      <h1>Movies</h1>
      <p></p>
    </li>
  </ul>
</div>
