<div class="movie-container">
    <div *ngIf="store.location == null || !store.location._name">
      <h2>Please provide location in the home screen</h2>
    </div>
    <div *ngIf="store.location != null || store.location._name">
    <div class="sub">
      <div class="section">
        <img
          src="./assets/movieTheater.jpg"
          width="330"
          height="330"
          class="headerImg"
        />
        <h2>Current trending movies in Nederland</h2>
      </div>
    </div>
    <div *ngIf="movies.length == 0 && store.location" class="loader">
      <img src="./assets/spinner.svg" />
      <p>Loading movies</p>
    </div>
    <ul class="auto-grid">
      <li *ngFor="let movie of movies" class="grid-col">
        <img
          *ngIf="movie.UrlToImage.length > 0"
          [src]="movie.UrlToImage"
          class="grid-col"
          (click)="openMovieLink(movie.Url)"
        />
        <img
          *ngIf="movie.UrlToImage.length == 0"
          src="./assets/image-not-found.jpg"
          class="grid-col"
          (click)="openEventLink(event.Url)"
        />
        <div class="content">
          <header class="align-center">
            <h2>{{ movie.Title }}</h2>
          </header>
        </div>
      </li>
    </ul>
  </div>
</div>
