<div class="nav">
    <input type="checkbox" id="nav-check">

    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
        <a routerLink="/weather" routerLinkActive="active">WEATHER</a>
        <a routerLink="/news" routerLinkActive="active">NEWS</a>
        <a id="home" routerLink="/home" routerLinkActive="active">HOME</a>
        <a routerLink="/events" routerLinkActive="active">EVENTS</a>
        <a routerLink="/movies" routerLinkActive="active">MOVIES</a>
    </div>
  </div>