<div class="event-container">
  <div class="sub">
    <div class="section">
      <img src="/assets/event.jpg" width=330 height=330 class="headerImg">
      <h2>Events in {{store.location._name}}</h2>
    </div>
  </div>
  <div *ngIf="events.length == 0  && store.location" class="loader">
    <img src="/assets/spinner.svg">
    <p>Loading events</p>
  </div>
  <ul class="auto-grid">
    <li *ngFor="let event of events" class="grid-col" >
        <img *ngIf="event.UrlToImage.length > 0" [src]= "event.UrlToImage" class="grid-col" (click)="openEventLink(event.Url)">
        <img *ngIf="event.UrlToImage.length == 0" src="/assets/image-not-found.jpg" class="grid-col" (click)="openEventLink(event.Url)">
        <div class="content">
        <header class="align-center">
          <p>{{event.WeekDay}} {{event.Day}} {{event.Month}}</p>
          <p> {{event.Time}}</p>
          <h2>{{event.Title}}</h2>
        </header>
      </div>
    </li>
  </ul>
</div>